<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_NAME" value="slug-microservice"/>
	<property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss}] [%p] [%thread] [%logger] - %m%n"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>${LOG_PATTERN}</Pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>

	<logger name="com.asurint" level="debug"/>

</configuration>
